html,body{height:100%;}
section{min-height:100%;}

.affix-top {
    top: 32%; 
	right: 0;
	position:absolute;
	z-index:2;
}
.affix {
    top: 50px;
	right: 0;
	z-index:2;
}

#mainContainer {height:100%;}

#dotNav {
	z-index: 5;
	right: 7%;
	padding: 7px;
	padding-top: 12px;
}
#dotNav ul {
	list-style: none;
	margin:0;
}
#dotNav li {
	position: relative;
	background: none repeat scroll 0 0 #cccccc;
	border:1px solid #aaaaaa;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	height: 12px;
	margin: 10px 10px 0px 0px;
	width: 12px;
	vertical-align:bottom;
}
#dotNav li.active {
	background-color: #ffffff;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
}
#dotNav li:hover {
	background: none repeat scroll 0 0 #EEEEEE;
}
#dotNav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}