.vNav {
    position: fixed;
    top: 20%;
    left: 80%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}

.vNav ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: rgb(113,135,133);
}

.vNav a{
    display: block;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a:hover{
    border-radius: 50%;
    background-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a.active{
    border-radius: 50%;
    background-color: rgb(207,219,218);
    text-decoration: none;
}

.label {
    position: relative;
    top: -60%;
    left: -200%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(113,135,133);
    display: none;
}


#section01 {
    position: absolute;
    top: 10%;
    left: 0;
    height: 30px;
    width: 420px;
}

#section02 {
    position: absolute;
    top: 70%;
    left: 0;
    height: 50px;
    width: 420px;
}

#section03 {
    position: absolute;
    top: 140%;
    left: 0;
    height:50px;
    width: 420px;
}

#section04 {
    position: absolute;
    top: 210%;
    left: 0;
    height: 50px;
    width: 420px;
}